<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    Complete event details.
  </p>
  <form [formGroup]='event' (ngSubmit)='submitInfo()'>
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input type='text' formControlName='name'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-datetime displayFormat='MMM DDD YYYY' formControlName='date'></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Client:</ion-label>
      <ion-select #c formControlName='client' (ionChange)='getRooms(c.value)'>
        <ion-option *ngFor='let client of clients'>{{client}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf='rooms'>

        <ion-label>Rooms checked:</ion-label>
        <ion-select #room formControlName='room' multiple='true' (ionChange)='clickOk($event)'>
          <ion-option *ngFor='let room of rooms'>{{room}}</ion-option>
        </ion-select>
    </ion-item>
    <button ion-button type='submit' [disabled]='!event.valid'>Submit</button>
    
  </form>
</ion-content>
